$yellow: #FFf000 ;
$yellowBlue: #A0F98A ;
$verde: #2ADC98;
$gray: #777;


@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
body {
    
    margin:0px;
    height:100%;
}

.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

footer{
padding: 10px 10px 0 10px;
background-color: $yellow;
@include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%; 
    border-radius: 0px;  
}

.footer-address-icon{
    padding-right: 10px;

}

.reservar-icon{
    padding-right: 10px;
}

.card-img-top:hover{
    border: 1px solid $gray;
}

.img-fluid{
    width: 100%;
    height: 600px;
}

.tab-content{
    padding-top: 10px;
}