body {
  margin: 0px;
  height: 100%;
}
.jumbotron {
  background-color: #A0F98A;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #A0F98A;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.reservar-icon {
  padding-right: 10px;
}
.card-img-top:hover {
  border: 1px solid #777;
}
.img-fluid {
  width: 100%;
  height: 600px;
}
.tab-content {
  padding-top: 10px;
}
