@yellow: #fffa19;
@verde: #A0F98A ;
@gray: #777;
@negro: black;


.margenes(@top:0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
body {
    
    margin:0px;
    height:100%;
}

.jumbotron{
    background-color: @verde;
    color: @negro;
    .margenes(50px, 0px);
}

footer{
padding: 10px 10px 0 10px;
background-color: @verde;
.margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    .margenes(10px, 0px);
}

.btn-reserva{
    width: 100%; 
    border-radius: 0px;  
}

.footer-address-icon{
    padding-right: 10px;

}

.reservar-icon{
    padding-right: 10px;
}

.card-img-top:hover{
    border: 1px solid @gray;
}

.img-fluid{
    width: 100%;
    height: 600px;
}

.tab-content{
    padding-top: 10px;
}